@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Eigene globale Stile */
body {
  font-family: sans-serif;
}


@keyframes fadeInUp {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
.animate-fadeInUp {
  animation: fadeInUp 0.8s ease-out forwards;
}
/* globals.css */
/* globals.css */
:root {
  --color-primary: theme('colors.primary.DEFAULT');
  --color-secondary: theme('colors.secondary.DEFAULT');
  --color-base: theme('colors.base.DEFAULT');
  --color-light: theme('colors.light.DEFAULT');
}


